<div class="col-lg-4">
  <% news.forEach(function(item) { %>
    <div class="trand-right-single d-flex">
      <div class="trand-right-img">
        <img src="<%= item.imageUrl %>" alt="">
      </div>
      <div class="trand-right-cap">
        <span class="color1"><%= item.source %></span>
        <h4>
          <a href="<%= item.link %>"><%= item.title %></a>
        </h4>
      </div>
    </div>
  <% }); %>
</div>
